body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #607D8B;
	color: grey;
	width: 100%;
	margin: 0;
	flex-wrap: wrap;

	.controls {
		font-size: 30px;
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}

	.stopwatch {
		font-size: 60px;
		color: #D3D3D3;	
		width: 100%;
		text-align: center;
	}

	button {
		text-decoration: none;
		color: lightgray;
		margin: 0 20px;
		background-color: #607D8B;
		padding: 6px 10px;
		font-size: 18px;

		&:hover {
			color: white;
			border-color: white;
		}

		&:focus {
			outline: 0;
		}

	}
}